.khung_tieu_de_trang {
    display: flex;
    height: 90px;
    gap: 90px;
    margin-left: 12%;
    margin-right: 12%;
    justify-content: center;
    align-items: center;
}
.khung_tieu_de_trang_1 {
    display: flex;
    gap: 50px;
}
.khung_tieu_de_trang_2 {
    display: flex;
    gap: 40px;
}
.khung_tieu_de_do {
    display: flex;
    height: 80px;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.khu_vuc_thanh_toan {
    margin-top: 60px;
    margin-left: 12%;
    margin-right: 12%;
    height: 1300px;
    border: 1px solid black;
}
.khu_vuc_thanh_toan_1 {
    font-size: 12px;
}
.khu_vuc_thanh_toan_2 {
    margin-top: 40px;
    text-align: center;
}
.khu_vuc_thanh_toan_3 {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.ga_nuong {
    display: flex;
    flex-direction: column;
}
.ga_nuong_1 {
    display: flex;
}
.dieu_chinh {
    display: flex; 
    border: 1px solid black;
    border-radius: 5px; 
    height: 20px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    width: 100px;
    height: 20px;
}
#dieu_chinh_screen {
    flex: 1;
    text-align: center;
}
.ga_nuong_2 {
}
.my_button {
    border-radius: 10px; 
    width: 120px; 
    height: 30px;
    cursor: pointer;
}
.my_button:hover {
    background-color: red;
    color: white;
}
.my_button_1 {
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
}
.my_button_1:hover {
    background-color: red;
    color: white;
}
.more_in4 {
    margin-top: -25px;
}
.chan_trang_1 {
    display: flex;
    justify-content: space-around;
    height: 225px;
    background-color: pink;
}
.chan_trang_2 {
    display: flex;
    height: 75px;
    background-color: pink;
    justify-content: space-between;
    align-items: center;
}